<div class="mpy mpx">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Usuarios</h1></mat-card-title>
    </mat-card-header>
    <ul class="list-group">
      <li class="list-group-item">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Buscar</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </form>
      </li>
      <li *ngFor="let user of usuario; index as i" class="list-group-item">
        <div class="d-flex flex-row justify-content-between">
          <div (click)="cambiarRuta()" class="d-flex align-items-center">
            {{user.nombre}}
          </div>
          <div class="d-flex align-items-center">
            Rol: {{user.rol}}
            <span></span>  
            <div >
              <!--<button mat-mini-fab  aria-label="Example icon button with a filter list icon">
                <mat-icon>clear</mat-icon>
              </button>-->
            </div>     
                
          </div>
        </div>
      </li>
    </ul>
    <mat-card-actions>
      <form class="mx-2"role="form" (ngSubmit)="invitarUsuario()" ngNativeValidate>
        <div class="form-group">
          <label for="exampleInputEmail1">¿Nuevo interesado?</label>
          <input [(ngModel)]="nombreUsuario" [ngModelOptions]="{ standalone: true }"
          type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Invitar a un interesado</button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>