<div class="prueba m-1">
        <div class="container">
            <div class="perfil mt-2 ">
                <button class="some">Salir</button>
            </div>
            <div class="usuarios">
                <h1>Invitar Usuario</h1>
                <h5>Ingrese el correo electrónico de su invitado</h5>
                <input type="text" class="form-control" placeholder="email@email.com">
                <button class="some1">Enviar Invitación</button>
            </div>
        </div>
    </div>
