<div class="container marTop pt-5">
  <div class="row col m-3">
    <div class="bord col-lg-10 container-md Cusuario">
      <div class="perfil mt-5">
        <h1>Mi Perfil</h1>
        <img src="../image/usuario.JPG" alt="" />
      </div>
      <div class="usuarios m-5">
        <div class="text m-3">
          <h5>Nombre Usuario</h5>
          <label class="m-1">Mi nombre</label>
        </div>
        <div class="text m-3">
          <h5>Email</h5>
          <label class="m-1">miemail@email.com</label>
        </div>
      </div>
      <div class="bt">
        <button class="some">Salir</button>
        <button class="some">Editar</button>
      </div>
    </div>
  </div>
</div>
