<div class="d-flex flex-column">
  <div class="conatiner d-flex justify-content-center ocupar ma-5 pa-5">
    <mat-card class="example-card cards">
      <mat-card-header>
        <mat-card-title>
          <h2>
          Invitar Usuarios
          </h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correro Electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
  <app-pie-pagina></app-pie-pagina>
