
<div class="mpy mpx">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Proyectos</h1></mat-card-title>
    </mat-card-header>
    <ul class="list-group">
      <li class="list-group-item">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Buscar</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </form>
      </li>
      <li *ngFor="let pro of proyecto" class="list-group-item">
        <div class="d-flex flex-row justify-content-between">
          <div (click)="cambiarRuta(pro._id)"  class="d-flex align-items-center">
            {{pro.nombre_proyecto}}
          </div>
          <div class="d-flex align-items-center">
            Estado: {{pro.estado}}
            <span></span>  
            <div class="example-button-container">
              <button (click)="eliminarProyecto(pro)" mat-mini-fab  aria-label="Example icon button with a filter list icon">
                <mat-icon>clear</mat-icon>
              </button>
            </div> 
          </div>
        </div>
      </li>
    </ul>
    <mat-card-actions>
      <form class="mx-2"role="form" (ngSubmit)="crearProyecto()" ngNativeValidate>
        <div class="form-group">
          <label for="exampleInputEmail1">¿Nuevo proyecto?</label>
          <input [(ngModel)]="newProyect.nombre_proyecto" [ngModelOptions]="{ standalone: true }"
          type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Crear nuevo proyecto</button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>

