<div class="container marketing">
  <div class="row">
    <!-- columna 1 -->
    <div class="col-lg-4">
      <img src="../../assets/img/calendar-alt-regular.svg" alt="">
      <h2>Programador</h2>
      <p>Podras estructurar los tiempos de cada tarea</p>
      <p><a class="btn btn-color" href="#" role="button">Ver más &raquo;</a></p>
    </div>
    <!-- columna 2 -->
    <div class="col-lg-4">
      <img src="../../assets/img/handshake-regular.svg" alt="">
      <h2>Acuerdos</h2>
      <p>Cada tarea sera del conocimiento del equipo, y se trabajara de la misma forma</p>
      <p><a class="btn btn-color" href="#" role="button">Ver más &raquo;</a></p>
    </div>
    <!-- columna 3 -->
    <div class="col-lg-4">
      <img src="../../assets/img/user-clock-solid.svg" alt="">
      <h2>Tiempo</h2>
      <p>El tiempo es el recurso más valio AlfaTime te ayudar a no desperdiciar ni un poco.</p>
      <p><a class="btn btn-color" href="#" role="button">Ver más &raquo;</a></p>
    </div>

  </div>

</div>
