/*menu lateral*/
#menu {
  position: absolute;
  width: 220px;
  height: 100%;
  background-color: #001A3F;
  margin-top: 100px;
}

/*propiedades de cada seccion*/
.contenedorGeneral {
  width: 200px;
  height: 40px;
  margin-left: 10px;
}

.contenedorGeneral:hover {
  background-color: #1890FF;
}

/*Separar la primera seccion del borde superior del menu*/
#contenedor1 {
  margin-top: 20px;
}

/*LLamar a las imagenes y darles un ancho y alto a la caja*/
.menu {
  background-color: #001A3F;
  list-style: none;
  line-height: 42px;
  position: absolute;
  width: 220px;
  height: 100%;
  margin-top: 50px;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}

.menu li {
  margin: 0 0 0 8px;
  margin-bottom: 5px;

  margin-left: 10px;
}

.menu li:hover {
  transition: .5s;
  box-shadow: 220px 0 rgb(141, 141, 146) inset;
}

.menu li p.perfil {
  width: 40px;
  height: 40px;
  background-image: url(../image/usuario.svg);
  background-repeat: no-repeat;
  margin-top: 5px;
}

/*LLamar a las imagenes y darles un ancho y alto a la caja*/

.menu li a.invitacion {
  width: 40px;
  height: 40px;
  background-image: url(../image/invitacion.svg);
  background-repeat: no-repeat;
}

.menu li a.Lusuario {
  width: 40px;
  height: 40px;
  background-image: url(../image/personas-blanco.svg);
  background-repeat: no-repeat;
}

.menu li a.calendario {
  width: 40px;
  height: 40px;
  background-image: url(../image/calendario-blanco.svg);
  background-repeat: no-repeat;
}

.menu li a.tareas {
  width: 40px;
  height: 40px;
  background-image: url(../image/lista.svg);
  background-repeat: no-repeat;
}

.menu p.texto1 {
  line-height: 40px;
  text-decoration: none;

}