<nav>
  <div class="menu">
    <div id="contenedor1" class="contenedorGeneral">
      <div class="perfil"></div>
      <a class="texto1" href="">Mi Perfil</a>
    </div>
    <div id="contenedor1" class="contenedorGeneral">
      <div class="invitacion"></div>
      <a class="texto1" href="#">Generar Invitación</a>
    </div>
    <div class="contenedorGeneral">
      <div class="Lusuario"></div>
      <a class="texto1" href="">Lista Usuarios</a>
    </div>
    <div class="contenedorGeneral">
      <div class="calendario"></div>
      <a class="texto1" href="">Calendario</a>
    </div>
    <div class="contenedorGeneral">
      <div class="tareas"></div>
      <a class="texto1" href="">Tareas</a>
    </div>
  </div>
</nav>
